[submodule "sushiswap"]
	path = contracts/sushiswap
	url = https://github.com/tradingstrategy-ai/sushiswap.git
[submodule "uniswap_v3/v3-core"]
	path = contracts/uniswap-v3-core
	url = https://github.com/Uniswap/v3-core.git
[submodule "uniswap_v3/v3-periphery"]
	path = contracts/uniswap-v3-periphery
	url = https://github.com/Uniswap/v3-periphery.git
