[submodule "sushiswap"]
	path = contracts/sushiswap
	url = https://github.com/tradingstrategy-ai/sushiswap.git
[submodule "uniswap-v3-core"]
	path = contracts/uniswap-v3-core
	url = https://github.com/Uniswap/v3-core.git
[submodule "uniswap-v3-periphery"]
	path = contracts/uniswap-v3-periphery
	url = https://github.com/Uniswap/v3-periphery.git
[submodule "contracts/enzyme"]
	path = contracts/enzyme
	url = https://github.com/enzymefinance/protocol.git
[submodule "contracts/dhedge"]
	path = contracts/dhedge
	url = https://github.com/dhedge/V2-Public.git
[submodule "contracts/in-house/lib/openzeppelin-contracts"]
	path = contracts/in-house/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "contracts/aave-v3-deploy"]
	path = contracts/aave-v3-deploy
	url = https://github.com/tradingstrategy-ai/aave-v3-deploy.git
