services:
  # Run the ERC-4626 vault scanning script
  # See Dockerfile.vault-scanner for details
  vault-scanner:
    image: vault-scanner:local
    build:
      context: .
      dockerfile: Dockerfile.vault-scanner
    container_name: vault-scanner
    restart: unless-stopped
    environment:

      CHAIN_ORDER: ${CHAIN_ORDER:-}
      HYPERSYNC_API_KEY: ${HYPERSYNC_API_KEY:-}
      JSON_RPC_ETHEREUM: ${JSON_RPC_ETHEREUM:-}
      JSON_RPC_BERACHAIN: ${JSON_RPC_BERACHAIN:-}
      JSON_RPC_UNICHAIN: ${JSON_RPC_UNICHAIN:-}
      JSON_RPC_SONIC: ${JSON_RPC_SONIC:-}
      JSON_RPC_HYPERLIQUID: ${JSON_RPC_HYPERLIQUID:-}
      JSON_RPC_AVALANCHE: ${JSON_RPC_AVALANCHE:-}
      JSON_RPC_ARBITRUM: ${JSON_RPC_ARBITRUM:-}
      JSON_RPC_MODE: ${JSON_RPC_MODE:-}
      JSON_RPC_MANTLE: ${JSON_RPC_MANTLE:-}
      JSON_RPC_MANTLE_2: ${JSON_RPC_MANTLE_2:-}
      JSON_RPC_BINANCE: ${JSON_RPC_BINANCE:-}
      JSON_RPC_OPTIMISM: ${JSON_RPC_OPTIMISM:-}
      JSON_RPC_ABSTRACT: ${JSON_RPC_ABSTRACT:-}
      JSON_RPC_CELO: ${JSON_RPC_CELO:-}
      JSON_RPC_SONEIUM: ${JSON_RPC_SONEIUM:-}
      JSON_RPC_ZKSYNC: ${JSON_RPC_ZKSYNC:-}
      JSON_RPC_GNOSIS: ${JSON_RPC_GNOSIS:-}
      JSON_RPC_BLAST: ${JSON_RPC_BLAST:-}
      JSON_RPC_ZORA: ${JSON_RPC_ZORA:-}
      JSON_RPC_INK: ${JSON_RPC_INK:-}
      JSON_RPC_BASE: ${JSON_RPC_BASE:-}
      JSON_RPC_POLYGON: ${JSON_RPC_POLYGON:-}
      JSON_RPC_HEMI: ${JSON_RPC_HEMI:-}
      JSON_RPC_LINEA: ${JSON_RPC_LINEA:-}
      JSON_RPC_TAC: ${JSON_RPC_TAC:-}
      JSON_RPC_PLASMA: ${JSON_RPC_PLASMA:-}
      JSON_RPC_KATANA: ${JSON_RPC_KATANA:-}
      JSON_RPC_MONAD: ${JSON_RPC_MONAD:-}
      SCAN_PRICES: ${SCAN_PRICES:-true}
      SCAN_HYPERCORE: ${SCAN_HYPERCORE:-false}
      LOG_LEVEL: ${LOG_LEVEL:-warning}
      MAX_WORKERS: ${MAX_WORKERS:-50}

      # Export vault sparkline images to the frontend
      R2_SPARKLINE_BUCKET_NAME: ${R2_SPARKLINE_BUCKET_NAME:-}
      R2_SPARKLINE_ENDPOINT_URL: ${R2_SPARKLINE_ENDPOINT_URL:-}
      R2_SPARKLINE_ACCOUNT_ID: ${R2_SPARKLINE_ACCOUNT_ID:-}
      R2_SPARKLINE_ACCESS_KEY_ID: ${R2_SPARKLINE_ACCESS_KEY_ID:-}
      R2_SPARKLINE_SECRET_ACCESS_KEY: ${R2_SPARKLINE_SECRET_ACCESS_KEY:-}

      # Export vault protocl metadatato the frontend
      R2_VAULT_METADATA_BUCKET_NAME: ${R2_SPARKLINE_BUCKET_NAME:-}
      R2_VAULT_METADATA_ENDPOINT_URL: ${R2_SPARKLINE_ENDPOINT_URL:-}
      R2_VAULT_METADATA_ACCOUNT_ID: ${R2_SPARKLINE_ACCOUNT_ID:-}
      R2_VAULT_METADATA_ACCESS_KEY_ID: ${R2_SPARKLINE_ACCESS_KEY_ID:-}
      R2_VAULT_METADATA_SECRET_ACCESS_KEY: ${R2_SPARKLINE_SECRET_ACCESS_KEY:-}
      R2_VAULT_METADATA_PUBLIC_URL: ${R2_VAULT_METADATA_PUBLIC_URL:-}

    # Try with 8gb RAM, 32G limit
    # The bottleneck seems to be the data cleaning script.
    mem_limit: ${MEM_LIMIT:-48g}
    mem_reservation: ${MEM_RESERVATION:-8g}
    memswap_limit: ${MEMSWAP_LIMIT:-64g} # Total memory + swap limit
    shm_size: ${SHM_SIZE:-2g} # Shared memory size

    # OOM kill disable (use with caution)
    oom_kill_disable: ${OOM_KILL_DISABLE:-false}

    volumes:
      # Writing vault data files here
      - ${HOME}/.tradingstrategy:/root/.tradingstrategy:rw
      # Expose hosts scan-all-chains.sh script to container,
      # as we need to live-edit it for problematic RPCs all the time
      - ./scripts:/usr/src/web3-ethereum-defi/scripts:ro
      # Expose log file output to host
      - ./logs:/usr/src/web3-ethereum-defi/logs:rw
      # Expose token cache files and other cache files reused by the vault scanner
      - ${HOME}/.cache:/root/.cache:rw
