aiohttp==3.8.1; python_version >= "3.6" and python_version < "4"
aiosignal==1.2.0; python_version >= "3.6" and python_version < "4"
alabaster==0.7.12; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
async-timeout==4.0.2; python_version >= "3.6" and python_version < "4"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.5.0" and python_version >= "3.6" and python_version < "4"
babel==2.9.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
base58==2.1.1; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
bitarray==1.2.2; python_version >= "3.6" and python_version < "4"
cached-property==1.5.2
certifi==2021.10.8; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.2" and python_full_version < "3.7.0" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.0" and python_full_version < "3.7.1" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
charset-normalizer==2.0.11; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.5.0" and (python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.2" and python_full_version < "3.7.0" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.0" and python_full_version < "3.7.1" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1")
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
cytoolz==0.11.2; python_full_version >= "3.6.8" and python_version < "4" and python_version >= "3.6" and implementation_name == "cpython"
docutils==0.17.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
eth-abi==2.1.1; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.8"
eth-account==0.5.7; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.8"
eth-bloom==1.0.4
eth-hash==0.3.2
eth-keyfile==0.5.1; python_version >= "3.6" and python_version < "4"
eth-keys==0.3.4
eth-rlp==0.2.1; python_version >= "3.6" and python_version < "4"
eth-tester==0.6.0b4; python_full_version >= "3.6.8" and python_version < "4" and python_version >= "3.6"
eth-typing==2.3.0
eth-utils==1.10.0
frozenlist==1.3.0; python_version >= "3.7" and python_version < "4"
hexbytes==0.2.2
idna==3.3; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.2" and python_full_version < "3.7.0" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.0" and python_full_version < "3.7.1" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
imagesize==1.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
importlib-metadata==4.10.1; python_version < "3.10" and python_version >= "3.7" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
iniconfig==1.1.1; python_version >= "3.6"
ipfshttpclient==0.8.0a2; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
jinja2==3.0.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
jsonschema==3.2.0; python_version >= "3.6" and python_version < "4"
lru-dict==1.1.7
markupsafe==2.0.1; python_version >= "3.6"
multiaddr==0.0.9; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
multidict==6.0.2; python_version >= "3.7" and python_version < "4"
mypy-extensions==0.4.3
netaddr==0.8.0; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
packaging==21.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
parsimonious==0.8.1; python_version >= "3.6" and python_version < "4"
pluggy==1.0.0; python_version >= "3.6"
protobuf==3.19.4; python_version >= "3.6" and python_version < "4"
py-ecc==4.1.0
py-evm==0.5.0a1
py-geth==3.7.0; python_version >= "3.6" and python_version < "4"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycryptodome==3.14.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.5.0"
pyethash==0.1.27
pygments==2.11.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyparsing==3.0.7; python_version >= "3.6"
pyrsistent==0.18.1; python_version >= "3.7" and python_version < "4"
pysha3==1.0.2; python_version >= "3.6" and python_version < "4"
pytest==6.2.5; python_version >= "3.6"
pytz==2021.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pywin32==303; python_version >= "3.6" and python_version < "4" and platform_system == "Windows"
requests==2.27.1; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.2" and python_full_version < "3.7.0" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.0" and python_full_version < "3.7.1" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
rlp==2.0.1
semantic-version==2.8.5; python_full_version >= "3.6.8" and python_version < "4" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.4.0")
six==1.16.0; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.2" and python_full_version < "3.7.0" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.0" and python_full_version < "3.7.1" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
snowballstemmer==2.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sortedcontainers==2.4.0
sphinx-rtd-theme==1.0.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
sphinx-sitemap==2.2.0
sphinx==4.4.0; python_version >= "3.6"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
toolz==0.11.2
trie==2.0.0a5
typing-extensions==3.10.0.2
urllib3==1.26.8; python_full_version >= "3.6.2" and python_version < "4" and python_version >= "3.6" and python_full_version < "3.7.0" or python_full_version > "3.7.0" and python_version < "4" and python_version >= "3.6" and python_full_version < "3.7.1" or python_full_version > "3.7.1" and python_version < "4" and python_version >= "3.6"
varint==1.0.2; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
web3==5.26.0; python_version >= "3.6" and python_version < "4"
websockets==9.1; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.1"
yarl==1.7.2; python_version >= "3.6" and python_version < "4"
zipp==3.7.0; python_version < "3.10" and python_version >= "3.7"
