.nboutput .rendered_html thead tr,
.nboutput .rendered_html tbody tr:nth-child(even) {
    background: #fff;
}

.nboutput .rendered_html tbody tr:hover {
    background: #ADD8E6;
}

/* Increase sidebar with, so our long module names do not get chopped up */
.sidebar-container {
    width: 20em;
}