aiohttp==3.9.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
alabaster==0.7.13 ; python_version >= "3.10" and python_full_version <= "3.12.0"
annotated-types==0.6.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
anyio==4.1.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
appnope==0.1.3 ; python_version >= "3.10" and python_full_version <= "3.12.0" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
arrow==1.3.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
asttokens==2.4.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
async-lru==2.0.4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.1.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
babel==2.13.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
backoff==2.2.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
base58==1.0.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
bitarray==2.8.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
black==23.11.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
bleach==6.1.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
cached-property==1.5.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
cachetools==5.3.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
certifi==2023.11.17 ; python_version >= "3.10" and python_full_version <= "3.12.0"
cffi==1.16.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
click==8.1.7 ; python_version >= "3.10" and python_full_version <= "3.12.0"
colorama==0.4.6 ; python_version >= "3.10" and python_full_version <= "3.12.0" and (sys_platform == "win32" or platform_system == "Windows")
comm==0.2.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
contourpy==1.2.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
cycler==0.12.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
cytoolz==0.12.2 ; python_version >= "3.10" and python_full_version <= "3.12.0" and implementation_name == "cpython"
debugpy==1.8.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
decorator==5.1.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
defusedxml==0.7.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
docutils==0.17.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-abi==4.2.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-account==0.10.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-bloom==2.0.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-hash==0.5.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-hash[pycryptodome]==0.5.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-hash[pysha3]==0.5.2 ; python_version >= "3.10" and python_full_version <= "3.12.0" and implementation_name == "cpython"
eth-keyfile==0.6.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-keys==0.4.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-rlp==0.3.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-tester[py-evm]==0.9.1b1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-typing==3.5.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
eth-utils==2.3.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
ethpm-types==0.5.11 ; python_version >= "3.10" and python_full_version <= "3.12.0"
evm-trace==0.1.0a25 ; python_version >= "3.10" and python_full_version <= "3.12.0"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
fastjsonschema==2.19.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
flake8==4.0.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
flaky==3.7.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
fonttools==4.45.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
fqdn==1.5.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
frozenlist==1.4.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
furo==2022.9.29 ; python_version >= "3.10" and python_full_version <= "3.12.0"
futureproof==0.3.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
gql[requests]==3.4.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
graphql-core==3.2.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
hexbytes==0.3.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
idna==3.6 ; python_version >= "3.10" and python_full_version <= "3.12.0"
imagesize==1.4.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
iniconfig==2.0.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
ipdb==0.13.13 ; python_version >= "3.10" and python_full_version <= "3.12.0"
ipykernel==6.26.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
ipython==8.18.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
ipywidgets==8.1.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
isoduration==20.11.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jedi==0.19.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
json5==0.9.14 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jsonpointer==2.4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jsonschema-specifications==2023.11.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jsonschema==4.20.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jsonschema[format-nongpl]==4.20.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyter-client==8.6.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyter-console==6.6.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyter-core==5.5.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyter-events==0.9.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyter-lsp==2.2.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyter-server-terminals==0.4.4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyter-server==2.10.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyter==1.0.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyterlab-server==2.25.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyterlab-widgets==3.0.9 ; python_version >= "3.10" and python_full_version <= "3.12.0"
jupyterlab==4.0.9 ; python_version >= "3.10" and python_full_version <= "3.12.0"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_full_version <= "3.12.0"
lru-dict==1.2.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
markupsafe==2.1.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_full_version <= "3.12.0"
matplotlib==3.8.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
mccabe==0.6.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
mistune==3.0.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
morphys==1.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
msgspec==0.18.4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
multidict==6.0.4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
nbclient==0.9.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
nbconvert==7.11.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
nbformat==5.9.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
nbsphinx==0.8.12 ; python_version >= "3.10" and python_full_version <= "3.12.0"
nest-asyncio==1.5.8 ; python_version >= "3.10" and python_full_version <= "3.12.0"
notebook-shim==0.2.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
notebook==7.0.6 ; python_version >= "3.10" and python_full_version <= "3.12.0"
numpy==1.26.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
overrides==7.4.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
packaging==23.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pandas==2.1.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pandocfilters==1.5.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
parsimonious==0.9.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
parso==0.8.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pathspec==0.11.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pexpect==4.9.0 ; python_version >= "3.10" and python_full_version <= "3.12.0" and sys_platform != "win32"
pillow==10.1.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
platformdirs==4.0.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
plotly==5.18.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pluggy==1.3.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
prometheus-client==0.19.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
prompt-toolkit==3.0.41 ; python_version >= "3.10" and python_full_version <= "3.12.0"
protobuf==4.25.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
psutil==5.9.6 ; python_version >= "3.10" and python_full_version <= "3.12.0"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_full_version <= "3.12.0" and (sys_platform != "win32" or os_name != "nt")
pure-eval==0.2.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
py-cid==0.3.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
py-ecc==6.0.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
py-evm==0.7.0a4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
py-geth==4.0.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
py-multibase==1.0.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
py-multicodec==0.2.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
py-multihash==0.2.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pyarrow==14.0.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pycodestyle==2.8.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pycparser==2.21 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pycryptodome==3.19.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pydantic-core==2.14.5 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pydantic==2.5.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pyethash==0.1.27 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pyflakes==2.4.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pygments==2.17.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pyparsing==3.1.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pytest-mock==3.12.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pytest==7.4.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
python-baseconv==1.2.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
python-json-logger==2.0.7 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pytz==2023.3.post1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pyunormalize==15.1.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pywin32==306 ; python_version >= "3.10" and python_full_version <= "3.12.0" and (platform_system == "Windows" or sys_platform == "win32") and (platform_system == "Windows" or platform_python_implementation != "PyPy")
pywinpty==2.0.12 ; python_version >= "3.10" and python_full_version <= "3.12.0" and os_name == "nt"
pyyaml==6.0.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
pyzmq==25.1.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
qtconsole==5.5.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
qtpy==2.4.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
referencing==0.31.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
regex==2023.10.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
requests-toolbelt==0.10.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
requests==2.31.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
rlp==3.0.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
rpds-py==0.13.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
safe-pysha3==1.0.4 ; python_version >= "3.10" and python_full_version <= "3.12.0" and implementation_name == "cpython"
semantic-version==2.10.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
send2trash==1.8.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
setuptools==69.0.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sigfig==1.3.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
six==1.16.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sniffio==1.3.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
soupsieve==2.5 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinx-autodoc-typehints==1.19.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinx-basic-ng==1.0.0b2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinx-rtd-theme==1.3.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinx-sitemap==2.5.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinx==4.5.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinxcontrib-applehelp==1.0.4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinxcontrib-htmlhelp==2.0.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinxcontrib-jquery==4.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.10" and python_full_version <= "3.12.0"
stack-data==0.6.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
tenacity==8.2.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
terminado==0.18.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
tinycss2==1.2.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.10" and python_full_version <= "3.12.0" and (implementation_name == "pypy" or implementation_name == "cpython")
tornado==6.3.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
tqdm-loggable==0.1.4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
tqdm==4.66.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
traitlets==5.13.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
trie==2.2.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
types-python-dateutil==2.8.19.14 ; python_version >= "3.10" and python_full_version <= "3.12.0"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
tzdata==2023.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
ujson==5.8.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
uri-template==1.3.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
urllib3==1.26.18 ; python_version >= "3.10" and python_full_version <= "3.12.0"
varint==1.0.2 ; python_version >= "3.10" and python_full_version <= "3.12.0"
wcwidth==0.2.12 ; python_version >= "3.10" and python_full_version <= "3.12.0"
web3[tester]==6.11.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
webcolors==1.13 ; python_version >= "3.10" and python_full_version <= "3.12.0"
webencodings==0.5.1 ; python_version >= "3.10" and python_full_version <= "3.12.0"
websocket-client==1.6.4 ; python_version >= "3.10" and python_full_version <= "3.12.0"
websockets==12.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
widgetsnbextension==4.0.9 ; python_version >= "3.10" and python_full_version <= "3.12.0"
yarl==1.9.3 ; python_version >= "3.10" and python_full_version <= "3.12.0"
zope-dottedname==6.0 ; python_version >= "3.10" and python_full_version <= "3.12.0"
-e .
