aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alabaster==0.7.16
annotated-types==0.7.0
anyio==4.9.0
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.13.4
bitarray==3.7.1
bleach==6.2.0
cached-property==2.0.1
cachetools==5.5.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
choreographer==1.0.9
ckzg==2.1.2
click==8.2.1
coloredlogs==15.0.1
comm==0.2.3
contourpy==1.3.3
cryptography==45.0.7
curl_cffi==0.12.0
cycler==0.12.1
cytoolz==1.0.1
debugpy==1.8.15
decorator==5.2.1
defusedxml==0.7.1
docutils==0.17.1
ecdsa==0.19.1
eth-account==0.13.7
eth-bloom==2.0.0
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-pydantic-types==0.2.1
eth-retry==0.3.5
eth-rlp==2.2.0
eth-tester==0.13.0b1
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
evm-trace==0.2.6
execnet==2.1.1
executing==2.2.1
fastjsonschema==2.21.1
ffn==1.1.2
flaky==3.8.1
fonttools==4.59.0
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.7.0
furo==2022.9.29
futureproof==0.3.1
gmpy2==2.2.1
gmx-python-ng==1.0.1
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-kms==3.5.1
googleapis-common-protos==1.70.0
gql==3.5.3
graphql-core==3.2.6
grpc-google-iam-v1==0.14.2
grpcio==1.74.0
grpcio-status==1.74.0
h11==0.16.0
hexbytes==1.3.1
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
hypersync==0.8.5
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
ipdb==0.13.13
ipykernel==6.30.0
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kaleido==1.0.0
kiwisolver==1.4.8
lark==1.2.2
logistro==1.1.0
lru-dict==1.3.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
msgspec==0.19.0
multicall==0.12.3
multidict==6.6.4
multitasking==0.0.12
mypy_extensions==1.1.0
narwhals==2.0.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nbsphinx==0.8.12
nest-asyncio==1.6.0
notebook==7.4.4
notebook_shim==0.2.4
numerize==0.12
numpy==1.26.4
orjson==3.11.1
overrides==7.7.0
packaging==25.0
pandas==2.3.2
pandocfilters==1.5.1
parsimonious==0.10.0
parso==0.8.5
peewee==3.18.2
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
plotly==6.2.0
pluggy==1.6.0
prometheus_client==0.22.1
prompt_toolkit==3.0.52
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.32.0
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
py-ecc==8.0.0
py-evm==0.12.1b1
py-geth==6.1.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pyethash==0.1.27
Pygments==2.19.2
pyparsing==3.2.3
pytest==7.4.4
pytest-mock==3.14.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
pytz==2024.2
pyunormalize==16.0.0
PyYAML==6.0.2
pyzmq==27.0.0
referencing==0.36.2
regex==2025.9.1
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rlp==4.1.0
rpds-py==0.26.0
rsa==4.9.1
ruff==0.11.13
safe-eth-py==7.8.0
safe-pysha3==1.0.5
scikit-learn==1.7.1
scipy==1.16.1
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools==70.0.0
shellingham==1.5.4
sigfig==1.3.19
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.7
Sphinx==4.5.0
sphinx-autodoc-typehints==1.19.1
sphinx-basic-ng==1.0.0b2
sphinx-last-updated-by-git==0.3.8
sphinx-rtd-theme==1.3.0
sphinx-sitemap==2.7.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.3
StrEnum==0.4.15
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
toolz==1.0.0
tornado==6.5.1
tqdm==4.67.1
tqdm-loggable==0.2
traitlets==5.14.3
trie==3.1.0
typer==0.17.3
types-python-dateutil==2.9.0.20250708
types-requests==2.32.4.20250809
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.5.0
wcwidth==0.2.13
web3==7.13.0
web3-google-hsm==0.1.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
widgetsnbextension==4.0.14
yarl==1.20.1
yfinance==0.2.65
zope.dottedname==6.0
-e .
