aiohttp==3.8.3 ; python_version >= "3.10" and python_version < "4"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4"
alabaster==0.7.12 ; python_version >= "3.10" and python_version < "4.0"
anyio==3.6.2 ; python_version >= "3.10" and python_version < "4.0"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Darwin" or python_version >= "3.10" and python_version < "4.0" and sys_platform == "darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "4.0"
argon2-cffi==21.3.0 ; python_version >= "3.10" and python_version < "4.0"
arrow==1.2.3 ; python_version >= "3.10" and python_version < "4.0"
asttokens==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.10" and python_version < "4"
atomicwrites==1.4.1 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
attrs==22.2.0 ; python_version >= "3.10" and python_version < "4.0"
babel==2.11.0 ; python_version >= "3.10" and python_version < "4.0"
backcall==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
backoff==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
base58==2.1.1 ; python_version >= "3.10" and python_version < "4"
beautifulsoup4==4.11.1 ; python_version >= "3.10" and python_version < "4.0"
bitarray==2.6.1 ; python_version >= "3.10" and python_version < "4"
black==22.12.0 ; python_version >= "3.10" and python_version < "4.0"
bleach==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
cached-property==1.5.2 ; python_version >= "3.10" and python_version < "4"
certifi==2022.12.7 ; python_version >= "3.10" and python_version < "4"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==2.1.1 ; python_version >= "3.10" and python_version < "4"
click==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
comm==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
contourpy==1.0.6 ; python_version >= "3.10" and python_version < "4.0"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "4.0"
cytoolz==0.12.1 ; python_version >= "3.10" and python_version < "4"
debugpy==1.6.4 ; python_version >= "3.10" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
docutils==0.17.1 ; python_version >= "3.10" and python_version < "4.0"
entrypoints==0.4 ; python_version >= "3.10" and python_version < "4.0"
eth-abi==2.2.0 ; python_version >= "3.10" and python_version < "4"
eth-account==0.5.9 ; python_version >= "3.10" and python_version < "4"
eth-bloom==1.0.4 ; python_version >= "3.10" and python_version < "4"
eth-hash==0.3.3 ; python_version >= "3.10" and python_version < "4"
eth-hash[pycryptodome]==0.3.3 ; python_version >= "3.10" and python_version < "4"
eth-hash[pysha3]==0.3.3 ; python_version >= "3.10" and python_version < "4" and implementation_name == "cpython"
eth-keyfile==0.5.1 ; python_version >= "3.10" and python_version < "4"
eth-keys==0.3.4 ; python_version >= "3.10" and python_version < "4"
eth-rlp==0.2.1 ; python_version >= "3.10" and python_version < "4"
eth-tester[py-evm]==0.6.0b7 ; python_version >= "3.10" and python_version < "4"
eth-typing==2.3.0 ; python_version >= "3.10" and python_version < "4"
eth-utils==1.10.0 ; python_version >= "3.10" and python_version < "4"
executing==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
fastjsonschema==2.16.2 ; python_version >= "3.10" and python_version < "4.0"
flake8==4.0.1 ; python_version >= "3.10" and python_version < "4.0"
flaky==3.7.0 ; python_version >= "3.10" and python_version < "4.0"
fonttools==4.38.0 ; python_version >= "3.10" and python_version < "4.0"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "4"
frozenlist==1.3.3 ; python_version >= "3.10" and python_version < "4"
furo==2022.9.29 ; python_version >= "3.10" and python_version < "4.0"
futureproof==0.3.1 ; python_version >= "3.10" and python_version < "4.0"
gql[requests]==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
graphql-core==3.2.3 ; python_version >= "3.10" and python_version < "4"
hexbytes==0.2.3 ; python_version >= "3.10" and python_version < "4"
idna==3.4 ; python_version >= "3.10" and python_version < "4"
imagesize==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
iniconfig==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
ipdb==0.13.11 ; python_version >= "3.10" and python_version < "4.0"
ipfshttpclient==0.8.0a2 ; python_version >= "3.10" and python_version < "4"
ipykernel==6.19.4 ; python_version >= "3.10" and python_version < "4.0"
ipython-genutils==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
ipython==8.7.0 ; python_version >= "3.10" and python_version < "4.0"
ipywidgets==8.0.4 ; python_version >= "3.10" and python_version < "4.0"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "4.0"
jedi==0.18.2 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
jsonpointer==2.3 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.17.3 ; python_version >= "3.10" and python_version < "4"
jsonschema[format-nongpl]==4.17.3 ; python_version >= "3.10" and python_version < "4.0"
jupyter-client==7.4.8 ; python_version >= "3.10" and python_version < "4.0"
jupyter-console==6.4.4 ; python_version >= "3.10" and python_version < "4.0"
jupyter-core==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
jupyter-events==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
jupyter-server-terminals==0.4.3 ; python_version >= "3.10" and python_version < "4.0"
jupyter-server==2.0.6 ; python_version >= "3.10" and python_version < "4.0"
jupyter==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
jupyterlab-pygments==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
jupyterlab-widgets==3.0.5 ; python_version >= "3.10" and python_version < "4.0"
kiwisolver==1.4.4 ; python_version >= "3.10" and python_version < "4.0"
lru-dict==1.1.8 ; python_version >= "3.10" and python_version < "4"
markupsafe==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "4.0"
matplotlib==3.6.2 ; python_version >= "3.10" and python_version < "4.0"
mccabe==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
mistune==2.0.4 ; python_version >= "3.10" and python_version < "4.0"
multiaddr==0.0.9 ; python_version >= "3.10" and python_version < "4"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "4"
mypy-extensions==0.4.3 ; python_version >= "3.10" and python_version < "4.0"
nbclassic==0.4.8 ; python_version >= "3.10" and python_version < "4.0"
nbclient==0.7.2 ; python_version >= "3.10" and python_version < "4.0"
nbconvert==7.2.7 ; python_version >= "3.10" and python_version < "4.0"
nbformat==5.7.1 ; python_version >= "3.10" and python_version < "4.0"
nbsphinx==0.8.11 ; python_version >= "3.10" and python_version < "4.0"
nest-asyncio==1.5.6 ; python_version >= "3.10" and python_version < "4.0"
netaddr==0.8.0 ; python_version >= "3.10" and python_version < "4"
notebook-shim==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
notebook==6.5.2 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.24.1 ; python_version < "4.0" and python_version >= "3.10"
packaging==22.0 ; python_version >= "3.10" and python_version < "4.0"
pandas==1.5.2 ; python_version >= "3.10" and python_version < "4.0"
pandocfilters==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
parsimonious==0.8.1 ; python_version >= "3.10" and python_version < "4"
parso==0.8.3 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.10.3 ; python_version >= "3.10" and python_version < "4.0"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.10" and python_version < "4.0"
pillow==9.3.0 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==2.6.2 ; python_version >= "3.10" and python_version < "4.0"
plotly==5.11.0 ; python_version >= "3.10" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
prometheus-client==0.15.0 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.36 ; python_version >= "3.10" and python_version < "4.0"
protobuf==3.19.5 ; python_version >= "3.10" and python_version < "4"
psutil==5.9.4 ; python_version >= "3.10" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "4.0" and os_name != "nt" or python_version >= "3.10" and python_version < "4.0" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
py-ecc==5.2.0 ; python_version >= "3.10" and python_version < "4"
py-evm==0.5.0a3 ; python_version >= "3.10" and python_version < "4"
py-geth==3.10.0 ; python_version >= "3.10" and python_version < "4"
py==1.11.0 ; python_version >= "3.10" and python_version < "4.0"
pyarrow==10.0.1 ; python_version >= "3.10" and python_version < "4.0"
pycodestyle==2.8.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pycryptodome==3.16.0 ; python_version >= "3.10" and python_version < "4"
pyethash==0.1.27 ; python_version >= "3.10" and python_version < "4"
pyflakes==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.13.0 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "4.0"
pyrsistent==0.19.3 ; python_version >= "3.10" and python_version < "4"
pysha3==1.0.2 ; python_version >= "3.10" and python_version < "4" and implementation_name == "cpython"
pytest-mock==3.10.0 ; python_version >= "3.10" and python_version < "4.0"
pytest==6.2.5 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-json-logger==2.0.4 ; python_version >= "3.10" and python_version < "4.0"
pytz==2022.7 ; python_version >= "3.10" and python_version < "4.0"
pywin32==305 ; python_version >= "3.10" and python_version < "4" and platform_system == "Windows" or sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "4.0"
pywinpty==2.0.9 ; python_version >= "3.10" and python_version < "4.0" and os_name == "nt"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "4.0"
pyzmq==24.0.1 ; python_version >= "3.10" and python_version < "4.0"
qtconsole==5.4.0 ; python_version >= "3.10" and python_version < "4.0"
qtpy==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
requests-toolbelt==0.10.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.10" and python_version < "4"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "4.0"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "4.0"
rlp==2.0.1 ; python_version >= "3.10" and python_version < "4"
semantic-version==2.10.0 ; python_version >= "3.10" and python_version < "4"
send2trash==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
setuptools==65.6.3 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "4"
soupsieve==2.3.2.post1 ; python_version >= "3.10" and python_version < "4.0"
sphinx-autodoc-typehints==1.19.1 ; python_version >= "3.10" and python_version < "4.0"
sphinx-basic-ng==1.0.0b1 ; python_version >= "3.10" and python_version < "4.0"
sphinx-rtd-theme==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
sphinx-sitemap==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
sphinx==4.5.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.10" and python_version < "4.0"
stack-data==0.6.2 ; python_version >= "3.10" and python_version < "4.0"
tenacity==8.1.0 ; python_version >= "3.10" and python_version < "4.0"
terminado==0.17.1 ; python_version >= "3.10" and python_version < "4.0"
tinycss2==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_full_version < "3.11.0a7"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "4"
tornado==6.2 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.64.1 ; python_version >= "3.10" and python_version < "4.0"
traitlets==5.8.0 ; python_version >= "3.10" and python_version < "4.0"
trie==2.0.0a5 ; python_version >= "3.10" and python_version < "4"
typing-extensions==3.10.0.2 ; python_version >= "3.10" and python_version < "4"
ujson==5.6.0 ; python_version >= "3.10" and python_version < "4.0"
uri-template==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==1.26.13 ; python_version >= "3.10" and python_version < "4"
varint==1.0.2 ; python_version >= "3.10" and python_version < "4"
wcwidth==0.2.5 ; python_version >= "3.10" and python_version < "4.0"
web3[tester]==5.31.3 ; python_version >= "3.10" and python_version < "4"
webcolors==1.12 ; python_version >= "3.10" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
websocket-client==1.4.2 ; python_version >= "3.10" and python_version < "4.0"
websockets==9.1 ; python_version >= "3.10" and python_version < "4"
widgetsnbextension==4.0.5 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.8.2 ; python_version >= "3.10" and python_version < "4.0"
-e .
