name: Automated test suite

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test-python:

    runs-on: ubuntu-latest

    # Only run the action for the latest push
    # See https://docs.github.com/en/actions/using-jobs/using-concurrency#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
          cache: 'poetry'
      - name: Install dependencies
        run: |
          poetry env use '3.10'
          poetry install -E data
      - name: Install Ganache
        run: yarn global add ganache
      - name: Install Anvil
        run: |
          curl -L https://foundry.paradigm.xyz | bash
          PATH=~/.foundry/bin:$PATH
          foundryup
          anvil --version
      - name: Run test scripts
        run: |
          PATH=~/.foundry/bin:$PATH
          poetry run pytest --tb=native
        env:
          BNB_CHAIN_JSON_RPC: ${{ secrets.BNB_CHAIN_JSON_RPC }}
      # Disabled for now
      # https://github.com/reviewdog/action-flake8/issues/40
      # - name: Run flake8
      #  uses: reviewdog/action-flake8@v3
      #  with:
      #    github_token: ${{ secrets.GITHUB_TOKEN }}
